<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://www.trelleborg.com/-/media/group/media/stories/robot.jpg?rev=4ce53f4c86cb414cb1d6d696a41d6040&w=800&hash=D4015B9E8ED4AEDB5E6B19082FF64090">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Your solution is: {{solution}}</p>
    </div>
    

    {{>footer}}
</body>
</html>