<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="https://www.trelleborg.com/-/media/group/media/stories/robot.jpg?rev=4ce53f4c86cb414cb1d6d696a41d6040&w=800&hash=D4015B9E8ED4AEDB5E6B19082FF64090">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>by {{name}}</p>

        <form>
            <input placeholder="Stockholm...">
            <button>Search</button>
        </form>

        <p id="p1"></p>
        <p id="p2"></p>

    </div>
    

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>